
/*Element principaux*/

body{
    font-family:'Raleway',arial,sans-serif;
	color:#181818;
    
}

#bloc_page{
    width:auto;
    margin-right:45px;
    margin-left:45px;
}

a{
    text-decoration: none;
    color:black;
}
/*Haut de page*/

header{
    margin-top:-8px;
    
}
#logo{grid-area:logo;}
#bar_hebergement_lien{grid-area:nav_hebergement;}
#bar_activites_lien{grid-area:nav_activites;} 
#bar_inscription_lien{grid-area:nav_inscription;}

nav{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo . nav_hebergement nav_activites nav_inscription ";
}

nav .bar_navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size:0.8em;
}


nav .underline{
    width: 100%;
    height: 3px;
    background: white;
    
}
nav #bar_hebergement_lien:hover > .underline {
    background: #0065fc;
  }
  
nav #bar_activites_lien:hover > .underline {
    background: #0065fc
  }
nav a:hover{
    color:#0065fc;
}
nav a{
    padding:25px;
}
#bar_inscription_lien a{
    color:#0065fc;
    font-weight:bold;
}

/*Menu*/

#titre h1{
    margin-top:20px;
    font-size:1.4em;   
}
#titre p{
    font-size: 1em;
    margin-top:-10px ;
    color:#303030;
}

#recherche{
    display: inline-flex;
    flex-direction: row;
    width:100%;
}

#fond_picto{
   
  display: flex;
  justify-content: center;
  align-items: center;
  width:50px;
  height:47px;
  background-color: #F2F2F2;
  border-radius: 15px 0 0 15px;
}
#fond_picto img{
    width:18px;
    height:18px;
}

.research-bar{
    margin-left:-1px;
    height:43px;
    width: 205px;
    border: none;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
    font-weight:500;
    font-size:0.9em;
    padding-left:5px;
    
}
.button-research-img{
    display: none;

}
.button-research{
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: #0065fc;
    color: white;
    font-weight: 500;
    height:47px;
    width:120px;
    margin-left:-1px;
    font-size:1em;
    cursor: pointer;
    
}
.button-research:hover{
    background-color: #1E90FF;
}
#fond_picto:hover{
    background-color:#A9A9A9;
    cursor:pointer;
}

/* Fitres*/

#filtres{
    margin-top:25px;
    display:flex;
    align-items: center;
    gap:20px;
}

#filtres ul{
    list-style-type: none;
    display:flex;
    width:100%;
    gap:20px;
    margin-left:-40px
}
#filtres li{
    font-size: 1.2em;
    font-weight:700;
    display:flex;
    align-items: center;
    padding-right:10px;
    gap:10px;
    
    
}
#filtres #filtres_titre{
    font-size:1.2em;
}
.filtres_border{
    display:inline-flex;
    width:auto;
    border:2px solid #F2F2F2;
    border-radius:30px;
    height:45px;
    
}
.filtres_img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:-1px;
    border-radius:30px;
    background-color:#DEEBFF;
    width:45px;
    height:45px;
}
.filtres_border:hover{
    cursor:pointer;
    background-color:#DEEBFF;
    transition-duration: 25ms;
}
.filtres_border:hover .filtres_img{
    background-color:white;
    transition-duration: 25ms;
}

#information{
    display:flex;
    align-items: center;
    margin-top:-20px;
    margin-bottom: 20px;
    
}

#picto_info{
    border: 1px solid #DCDCDC;
    display:flex;
    align-items: center;
    justify-content: center;
    width:24px;
    height:24px;
    border-radius:30px;
    
}
#picto_info img{
    width:15px;
    height:15px;
}

#information p{
    margin-left:15px;
    font-size:1em;
}
    
/*section_1_hebergement*/

.price_bold{
    font-weight:bold;
    
}

#section_1 h2{
    font-size:1.4em;
    margin-left:35px;
    padding-top:20px;
}
#afficher_plus{
    font-size:1em;
    font-weight: 700;
    margin-left:35px;
    margin-bottom:40px;
}

#marseille{grid-area:marseille}
aside{grid-area:populaires}

#section_1{
    width:auto;
    display:grid;
    justify-content: space-between;
    grid-template-rows: 1fr;
    grid-template-columns:3fr  1fr;
    gap:40px;
    grid-template-areas:"marseille  populaires";

}
#section_1 a{
    text-decoration: none;
    color:black;
}

#section_1 article{
    display:flex;
    flex-direction: column;
    background-color:#F2F2F2;
    border-radius: 20px ;
    height:610px;
}
#article_marseille{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content:center;
    align-items:center;
    width:60%;
    height:410px;
    margin:auto;
    gap:30px 30px;
    
}

.hebergement_marseille{
    display:flex;
    flex-direction:column;
    align-content: space-between;
    width:230px;
    background-color:white;
    border-radius:20px;
    height:180px;
    padding:5px;
    box-shadow: 0px 0px 6px 0px grey;
}


.img_marseille{
   height:110px;
}
.img_section{
    width: 100%;
    height: 110px;
    background-size: 100% 100%;
    border-radius: 20px 20px 0 0;
    object-fit:cover;
}

.description_img img{
    width:14px;
    height:14px;
    margin:0;
}

.description_img{
    padding-top:5px;
    margin-left:3px;
}

.description_img h3, .description_img p {
    font-size:1em;
    margin:3px;
}
.description_img p{
    font-size:0.8em;
}
.star{
    display:flex;
    margin-left:3px;
}

#section_1 #article_marseille a:hover ,aside a:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.4s;
}

/* section aside*/

#picto_chart{
    width:22px;
    height:22px;
    padding-top:20px;
}

#titre_populaire{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:90%;
    padding:0;
    margin:0;

}

#section_1 aside{
    background-color:#F2F2F2;
    border-radius: 20px ;
    height:610px;
    display:flex;
    flex-direction: column;
    width:410px;
    
    
}

#flex_populaire{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height:490px;
    margin:10px;
    gap:20px ;
      
}
 .img_aside{
    width:130px;
    height: 100%;
    background-size: 100% 100%;
    border-radius:20px 0 0 20px; 
    object-fit:cover;
 }

 .plus_populaire{
    display:flex;
    background-color: white;
    border-radius:20px;
    height:130px;
    width:85%;
    padding:5px;
    margin:auto;
    box-shadow: 0px 0px 6px 0px grey;
 }



 .avis_back img{
    width:14px;
    height:14px;
    margin:0;

 }
 .description_img_populaire h3,.description_img_populaire p{
    font-size:1em;
    margin:4px;
 }
 .description_img_populaire p{
     font-size: 0.8em;
 }
.avis_back{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin:10px;
    
}

/* Section Activitées*/

#activites_titre{
    font-size: 1.3em;
    padding-left:10px;
    margin-top:-40px;
}

.section_2 a{
    text-decoration: none;
    color:black;
}

.section_2  .englobe_activite:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.4s;
}

#activitee-1{grid-area: activitee_1;}
#activitee-2{grid-area: activitee_2;}
#activitee-3{grid-area: activitee_3;}
#activitee-4{grid-area: activitee_4;}
#activitee-5{grid-area: activitee_5;}
#activitee-6{grid-area: activitee_6;}


.section_2{
    height: 430px;
    margin-bottom:60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr 0.3fr 0.3fr 0.3fr 0.3fr 3fr;
    grid-gap: 40px;
    grid-template-areas:
        "activitee_1 activitee_2 activitee_4 activitee_5"
        "activitee_1 activitee_2 activitee_4 activitee_5"
        "activitee_1 activitee_2 activitee_4 activitee_5"
        "activitee_1 activitee_3 activitee_4 activitee_6"
        "activitee_1 activitee_3 activitee_4 activitee_6"
        "activitee_1 activitee_3 activitee_4 activitee_6";
}


 .section_2 .englobe_activite{
    position:relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 6px 0px grey;

}

.section_2 .englobe_activite h3{
    position:absolute;
    width: 95%;
    background-color: white;
    border-radius: 0 0 20px 20px;
    padding: 15px 0 15px 5%;
    margin: 0;
    bottom: 0;
    font-size: 0.9em
}

.englobe_activite img{
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    margin: 0;
}
.activites_img{
    height:100%;
    margin:0;
}

/*Footer*/

footer{
    background-color: #F2F2F2;
    display:flex;
}
footer ul{
    list-style-type:none;
    padding-left:45px;
    font-size:0.8em
}
footer p {
    font-size:0.9em;
    font-weight:bold;
    padding-left:45px;
}
footer a{
    text-decoration: none;
    color:black;
    line-height:2em;
}
footer a:hover{
    cursor: pointer;
    text-decoration-line: underline;
}
.bas-de-page{
    width:33%
}


/* Media Queries*/

@media screen and (max-width:1440px){
    #bloc_pages{
        max-width:1440px;
    }

}

@media screen and (max-width:1250px){
    #bloc_page{
        width:auto;
        margin-left:30px;
        margin-right:30px;
    }
    
    #filtres{
        margin-top:25px;
        display:flex;
        align-items: flex-start;
        flex-direction: column;
        gap:0px;
    }
    #filtres ul{
        flex-wrap: wrap;
        
    }

    #section_1{
        width:100%;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        flex-direction: column-reverse;
        grid-template-areas:"populaires" 
                            "marseille";   
        gap:30px;
    }
    #section_1 article{
        width:100%;
    }

    #titre_populaire{
        width:97%;
    }
    #section_1 aside{
        display:flex;
        justify-content: space-around;
        margin:auto;
        height: 260px;
        width:auto;
    }
    
   #section_1 #flex_populaire{
        width:95%;
        margin:auto;
        padding-right:10px;
        display:grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:1fr;
        height:200px;
        gap:35px;
        
    }
    .img_populaire{
        width:40%;
        height:100%;
    }
    
    
    .img_section,.img_aside{
        width:100%;
        height:100%;
    }

    .plus_populaire{
        margin-top:-10px;
        width:100%;
    }
    #section article{
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows:1fr 1fr;
        
    }
    #article_marseille{
        width:96%;
        gap:25px 25px;
        
    }
    .hebergement_marseille{
        width:auto;
    }
    #afficher_plus{
        padding-top:3px;
    }
   
    .section_2{
        height:100%;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:"activitee_1 activitee_2  activitee_3"
                            "activitee_4 activitee_5 activitee_6";
    }
    
    .section_2 .englobe_activite{
        height:350px;
    }
    
}

@media screen and (max-width:1000px){

    #bloc_pages{
        width:auto;
        margin-left:10px;
        margin-right:10px;
    }
    #filtres li{
        font-size:1em;
        margin-top:-10px;
    }
    #filtres{
        margin-top:25px;
        display:flex;
        align-items: flex-start;
        flex-direction: column;
        gap:0px;
    }

    .img_populaire{
        width:50%;    
    }
    
    
   .img_aside{
        width:97%;  
    }

    .plus_populaire{
        height:100px;
    }

    .description_img_populaire h3,.description_img_populaire p{
    font-size:0.8em;
    margin:0px;
    }
    .description_img_populaire p{
    font-size: 0.8em;
    }
    .avis_back{
    margin:0; 
    }
}


@media screen and (max-width:700px){
    #bloc_pages{
        margin-left:5px;
        margin-right:5px;
    }

    #section_1{
        width:100%;
        height:auto;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1.2fr;
    }    

    #titre_populaire{
        width:94%;
    }

    #section_1 #flex_populaire{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height:500px;
        
    }

    #section_1 aside{
        height:620px;
    }

    .img_populaire{
        width:40%;    
    }
    
   .img_aside{
        width:100%;  
    }

    .plus_populaire{
        height:130px;
        width:94%;
        margin-left:14px;
        
    }

    .description_img_populaire h3,.description_img_populaire p{
        font-size:1em;
        margin:4px
    }

    
    .avis_back{
        margin:5px;
    }

    #section_1 article{
        height:800px;
        
    }

    #article_marseille{
        height:100%;
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows:1fr 1fr 1fr ;
        
    }

    .section_2{
        display:grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:"activitee_1 activitee_2" 
                            "activitee_3 activitee_4"
                            "activitee_5 activitee_6";                   
    }

}


@media screen and (max-width:600px){
    main{
        margin-left:15px;
    }
    
    #bloc_page{
        margin:0;
    }
    #section_1{
        width:100%;
        height:auto;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.8fr 2fr;
    } 
    #section_1 article{
        height:1500px;
        background-color: white;
        
    }
    #article_marseille{
        height:100%;
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr;
        
    }

    .section_2{
        display:grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-template-areas:"activitee_1" 
                            "activitee_2" 
                            "activitee_3" 
                            "activitee_4"
                            "activitee_5"
                            "activitee_6";                   
    }

     .section_2 .englobe_activite{
        width:96%;
        margin:auto;
        background-color:white;
        border-radius:20px;
        height:180px;
        box-shadow: 0px 0px 6px 0px grey;
    }
    .englobe_activite h3{

        border-radius:0;
        padding:0;
        font-size: 0.9em
    }
    .englobe_activite img{
        width: 100%;
        height: 85%;
        background-size: 100% 100%;
        border-radius: 20px 20px 0 0;
        object-fit:cover;
    }
    .activites_img{
        height:100%;
    }

    footer{
        display: flex;
        flex-direction: column;
    }
    .bas-de-page{
        width:100%;
        margin-left:-20px;
    }



}

@media screen and (max-width:480px){
    #bloc_page{
        padding:0;
        margin:0;
    }
    
    nav img{
        margin-left:15px;
    }
    nav{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "logo nav_inscription"
                             " nav_hebergement nav_activites";
    }
    nav .bar_navigation{
        font-size:1em;
    }
    nav #bar_hebergement_lien,nav #bar_activites_lien{
        display:flex;
        flex-direction: column-reverse;
    }
    #section_1 aside,#article_marseille{
        padding:10px;
    }
    nav .underline{
        background-color:#F2F2F2;
    }
    .hebergement_marseille,.section_2 {
        margin-left:10px;
        margin-right:10px;
    }

    
    .img_populaire{
        width:35%;   
    }
    
   .img_aside{
        width:120px;  
    }

    .bas-de-page{
        width:100%;
    }
    
    .button-research{
        display:none;
    }
    .button-research-img{
        display:flex;
        justify-content: center;
        align-items: center;
        border:none;
        background-color: #0065fc;
        border-radius:15px;
        width:47px;
        height:47px;
        font-weight: 500;
        cursor: pointer;
    }
    .button-research-img img{
        width:15px;
        height:15px;
    }
    .button-research-img:hover{
        background-color: #1E90FF;
    }
    
    main{
        margin-left:15px;
    }
    
    
}

@media screen and (max-width:390px){
    .img_populaire{
        margin-right:15px;
    }
    #picto_info{
        width:25px;
        height:20px;
        border-radius:50px;
    }
    #picto_info img{
        width:10px;
        height:10px;
    }

    #recherche{
        justify-content: center;
     }

    #fond_picto{
        height:51px;
    }
  
    .research-bar{
        height:47px;
        width:220px;
    }
    .button-research-img{
        width:50px;
        height:50px;
        margin-left:-10px;
    }
    .button-research-img img{
        width:20px;
        height:20px;
    }

}